.idea
**/.DS_Store/
.vscode
hf_cache
finetune_models
results

# Python 缓存文件
__pycache__/
*.py[cod]
venv/

/dataset
hf_cache/

/logs
/code_test
/graph.png
/test*

# pixi environments
.pixi
*.egg-info
.pixi.lock
.gitattributes