.idea
**/.DS_Store/
.vscode
hf_cache
finetune_models
results

# Python 缓存文件
__pycache__/
*.py[cod]
venv/

/dataset
hf_cache/
model_cache/

/logs
/code_test
/graph.png
/*.pt
/test.py

# pixi environments
.pixi
*.egg-info
.pixi.lock
.gitattributes